<!DOCTYPE html>
<html>
    <head>
         <title> ROOTS OF THE EQUATION</title>
         <style>
               body{
                   background-color:black;
               }

         </style>
    </head>
    <body>
        <marquee style='background-color:palegreen;font-size:50px;height:1.5cm'>ROOT OF THE EQUATION</marquee>
        <br>
       <a href='{%url "emath:quadratic"%}' style='text-decoration:none ; color:black'>
        <div id='two'style='background-color:orange;width:25cm;padding:center'>
          <p style='font-size:30px;text-align:center;font-size:60px'>QUADRATIC EQUATION</p>
        </div>
       </a>
       <a href='{%url "emath:cubic"%}' style='text-decoration:none;color:black'>
           <div id='cubic' style='background-color:aqua;width:25cm;padding:center'>
               <p style='font-size:30px;text-align:center;font-size:60px'>CUBIC EQUATION</p>
           </div>
       </a>
    </body>
</html>
                 